
.header {
             
             padding: 130px;
             text-align: center;
             background-image: url("Budget_Eats.jpg");
             background-repeat: no-repeat;
             background-size: contain;
             background-color: white;
    
            }
.header h1 {
             font-size: 40px;
            }
.header h2 {
           font-size: 20px;
        }
 header {
            font-size: 20px;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            background-color: lightgrey;
            width: auto;
            border: 15px solid DimGrey;
            padding: 30px;
            margin: 10px;
           text-align: center;
      }
li {
      font-size: 20px;
}
label {
            fontsize: 15px;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
        }
body {
  background-color: AliceBlue;
}
.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
}
.dropdown-check-list.visible .items {
  display: block;
}

